<p>Olá eu sou <span>Nádia</span> e trabalho na área há muito tempo,
venha conehcer meu <span>trabalho</span>, te garato que vai gostar</p>

<section class="worck">
  <ul class="item">
    <li>-Design de Unhas</li>
    <li>-Recanto da Emas</li>
    <li>-Quadra 309 </li>
    <li>-De segunda a sexta</li>
  </ul>
</section>

<section class="icons">
  <a href="http://wa.me/556193819167" ><i class="bi bi-whatsapp icon"></i></a>
<a href="https://www.instagram.com/cantinho_criativo_gourmet/"><i class="bi bi-instagram icon"></i></a>
</section>

<p class="paragrafo-dois">
  Recanto das Emas. Quadra 309
</p>
