p{
  text-align: center;

}
span{
  color:#D9C7C5;
}

.worck{
  width: 20em;
  margin: 0 auto;
  border: 2px solid #D9C7C5;
  padding: 1em;
  margin-top: 3em;
}
.paragrafo-dois{
  margin-top: 3em;
}

.icons{
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.icon{
  margin: .3em;
  color:#D9C7C5;
  font-size: 2em;
}


