.descricao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: 1em;
}
h2{
  padding-bottom: 1em;
  text-transform: uppercase;
}
img{
  max-width: 500px;
  padding-bottom: 2em;
}

.about,
.action{
  width: 100%;
  background-color:
  #D9C7C5;
  padding: 1em;
  text-align: center;
  color: #FFF;
}
.btn-edit,
.btn-remove{
  border: none;
  padding: 1em;
  color:#733426;
}

@media screen and (max-width: 500px) {

  .descricao{
    width: 90%;
    margin: 0 auto;

  }
  h2{
    font-size: 15px;
  }
  img{
    width: 100%;
  }
  .about,
  .action{
    width: 80%;
  }

}
